src/data-layer/bin
src/data-layer/main
src/data-layer/tmp
src/data-layer/query.sql
src/data-layer/Pipfile.lock
__pycache__/
*.py[cod]
.env
.env.dev
.env.actions
.DS_Store
.vscode
.vercel
.env.coolify
coolify.env
tsconfig.tsbuildinfo
presentation/
.env.prod
.env.local
