services:
  nextjudge-data-layer:
    image: "ghcr.io/nextjudge/core:latest"
    environment:
      - ELASTIC_ENDPOINT=http://elasticsearch:9200
      - ELASTIC_ENABLED="${ELASTIC_ENABLED:-false}"
      - JUDGE_PASSWORD=${JUDGE_PASSWORD}
      - JWT_SIGNING_SECRET=${JWT_SIGNING_SECRET}
      - AUTH_PROVIDER_PASSWORD=${AUTH_PROVIDER_PASSWORD}
      - DB_HOST=db
      - DB_PASSWORD=${AUTH_PROVIDER_PASSWORD}
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      # elasticsearch:
      #   condition: service_healthy
  db:
    extends:
      file: src/data-layer/docker-compose.db.yml
      service: db
    environment:
      - POSTGRES_PASSWORD=${AUTH_PROVIDER_PASSWORD}

  nextjudge-judge:
    image: "ghcr.io/nextjudge/judge:latest"
    privileged: true
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - NEXTJUDGE_HOST=nextjudge-data-layer
      - NEXTJUDGE_PORT=5000
      - JUDGE_PASSWORD=${JUDGE_PASSWORD}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
    volumes:
      - go_cache:/var/lib/nextjudge/go-cache
      - go_mod_cache:/var/lib/nextjudge/go-mod
    depends_on:
      rabbitmq:
        condition: service_healthy
      # No Docker healthcheck in prod container
      # nextjudge-data-layer:
      #   condition: service_healthy

  rabbitmq:
    extends:
      file: src/data-layer/docker-compose.rabbitmq.yml
      service: rabbitmq
    environment:
      - RABBITMQ_LOGS="error"
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
  # elasticsearch:
  #   extends:
  #     file: src/data-layer/docker-compose.elasticsearch.yml
  #     service: elasticsearch

volumes:
  postgres_data:
  go_cache:
  go_mod_cache:
