services:
    nextjudge-data-layer-dev:
        build:
            dockerfile: Dockerfile.dev
            context: .
        ports:
            - 5000:5000
        environment:
            - DB_HOST=db
            - DB_PORT=5432
            - DB_USERNAME=postgres
            - DB_PASSWORD=example
            - ADMIN_EMAILS=tom@gmail.com
        volumes:
            - .:/app
        depends_on:
            db-dev:
                condition: service_healthy
        healthcheck:
            test: "wget localhost:5000/healthy -q -O - > /dev/null 2>&1"
            interval: 3s
            timeout: 3s
            retries: 20
    db-dev:
        extends:
            file: docker-compose.db.yml
            service: db

volumes:
    postgres_data:
