@import url("https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 97.65%;
		--foreground: 0 0% 12.55%;
		--muted: 0 0% 93.73%;
		--muted-foreground: 0 0% 39.22%;
		--popover: 0 0% 98.82%;
		--popover-foreground: 0 0% 12.55%;
		--card: 0 0% 98.82%;
		--card-foreground: 0 0% 12.55%;
		--border: 0 0% 84.71%;
		--input: 0 0% 94.12%;
		--primary: 22.93 92.59% 52.35%;
		--primary-foreground: 44 0% 100%;
		--secondary: 34.05 100% 85.49%;
		--secondary-foreground: 16.27 50.43% 22.94%;
		--accent: 0 0% 90.98%;
		--accent-foreground: 0 0% 12.55%;
		--destructive: 10.16 77.87% 53.92%;
		--destructive-foreground: 0 0% 100%;
		--success: 142.1 76.2% 36.3%;
		--success-foreground: 355.7 100% 97.3%;
		--ring: 24.8 79.79% 63.14%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 6.67%;
		--foreground: 0 0% 93.33%;
		--muted: 0 0% 13.33%;
		--muted-foreground: 0 0% 70.59%;
		--popover: 0 0% 9.8%;
		--popover-foreground: 0 0% 93.33%;
		--card: 0 0% 9.8%;
		--card-foreground: 0 0% 93.33%;
		--border: 44 14% 11%;
		--input: 0 0% 28.24%;
		--primary: 22.93 92.59% 52.35%;
		--primary-foreground: 29.51 0% 100%;
		--secondary: 28.5 64.52% 12.16%;
		--secondary-foreground: 29.51 100% 88.04%;
		--accent: 0 0% 16.47%;
		--accent-foreground: 0 0% 93.33%;
		--destructive: 10.16 77.87% 53.92%;
		--destructive-foreground: 0 0% 100%;
		--success: 142.1 70.6% 45.3%;
		--success-foreground: 144.9 80.4% 10%;
		--ring: 23.11 59.8% 40%;
	}
}

@layer base {
	* {
		@apply border-border;
		scrollbar-width: none;
	}
	body {
		@apply bg-background text-foreground;
	}

	html {
		@apply antialiased;
		scroll-behavior: smooth;
	}

	*::-webkit-scrollbar {
		display: none;
	}

	.monaco-editor,
	.monaco-editor .overflow-guard {
		max-width: 100% !important;
	}

	.monaco-editor .view-lines {
		max-width: 100% !important;
	}
}

.shadow-anim {
	position: absolute;
	background: hsl(var(--shadow-1) / 0%);
	border-radius: 24px;
	rotate: 35deg;

	width: 200px;
	top: 170px;
	height: 350px;
	filter: blur(150px);
	animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
	from {
		background: hsl(var(--shadow-1) / 20%);
		right: 260px;
	}
	to {
		background: hsl(var(--shadow-1) / 80%);
		right: 160px;
	}
}

/* shadow-anim is now always visible */

.error-bg {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23dc4405' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23b53a04' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23b53a04' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b53a04' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23b53a04' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23a23204' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23dc4405' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23b53a04' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b53a04' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23a23204' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23dc4405' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23b53a04' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
}

.text-shadow {
	text-shadow: -8px 0 0 #dc4405;
}

.editor .ProseMirror {
	min-height: 350px;
	padding: 5px 10px;
}

.ProseMirror:focus {
	outline: none;
}
