services:
  nextjudge-judge-dev:
    build:
      dockerfile: ./Dockerfile.monolith
      context: .
      args:
        - BASEJUDGE=basejudge:dev
    privileged: true
    volumes:
      - ./src/app.py:/app/app.py:ro
      - go_cache:/var/lib/nextjudge/go-cache
      - go_mod_cache:/var/lib/nextjudge/go-mod

volumes:
  go_cache:
  go_mod_cache:
